<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Commons" version="0.2.4.731" targetFramework="net472" />
  <package id="Commons.Json" version="0.3.0.775" targetFramework="net472" />
  <package id="Commons.Pool" version="0.2.4.731" targetFramework="net472" />
  <package id="Newtonsoft.Json.Net20.dll" version="3.5.0" targetFramework="net472" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net472" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="net472" />
  <package id="System.Data.Common" version="4.1.0" targetFramework="net472" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="net472" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net472" />
</packages>