<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <appSettings>
    <!--Redis地址-->
    <add key="RedisServer" value="127.0.0.1:6379" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Commons.Utils" publicKeyToken="350c09dc66177f04" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-0.2.4.731" newVersion="0.2.4.731" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>